{% extends 'layout.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
{% for post in posts %}
    <div class="col-md-2 mt-3">
        <div class="box">
            <span class="item"><img src="/project/views/pin_{{ random(['blue', 'red', 'yellow']) }}.png" alt="" width="40"></span>
            <a href="/post/{{ post.id }}">
                <h5 class="card-title">{{ post.title }}</h5>
                <div class="">{{ post.body|slice(0,100) }}...</div>
            </a>
            <div class="text-muted mt-2">
                Posted: {{ post.created_at|date("d-m-Y") }}
            </div>
        </div>
    </div>
{% endfor %}
{% endblock %}

