{% extends 'layout.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    {% if posts %}
        <h5>The following posts were found by your request:</h5>
        {% for post in posts %}
            <div class="col-md-6 mt-3">
                <div class="box">
                    <span class="item mb-2">&#128204;</span>
                    <a href="/post/{{ post.id }}">
                        <h5 class="card-title">{{ post.title|lower|replace({(search_text)|lower: "<span class='bg-info'>"~(search_text)|lower~"</span>"})|raw }}</h5>                        
                    </a>
                    <div class="">{{ post.body|lower|replace({(search_text)|lower: "<span class='bg-info'>"~(search_text)|lower~"</span>"})|raw }}...</div>
                    <div class="text-muted mt-2">
                        Posted: {{ post.created_at|date("d-m-Y") }}
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p>No results were found for your search..</p>
    {% endif %}
{% endblock %}