{% extends 'layout.html.twig' %}

{% block title %}Categories{% endblock %}

{% block content %}
    <h5>{{ title }}</h5>
    {% for category in categories %}
        <div class="col-md-12">
            <div class="card border-0 border-bottom border-3">
                <div class="card-body">
                    <h5 class="card-title">{{ category.title }}</h5>
                    <p class="card-text">{{ category.description }}</p>
                    <a href="/category/{{ category.slug }}" class="btn text-white" style="background-color: #778899">Go to {{ category.title }}</a>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}

