{% extends 'layout.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    {% if post %}
        <div class="col-md-12">
            <div class="card-body">
                <div class="card-header mb-3 mt-3">
                    <h5 class="card-title">{{ post.title }}</h5>
                </div>
                <div>{{ post.body }}</div>
                <div class="text-muted mt-2">
                    Posted: {{ post.created_at|date("d-m-Y") }}
                </div>
                <button type="button" class="btn text-white mt-3 mb-2" data-bs-toggle="modal" data-bs-target="#exampleModal" style="background-color: #778899">
                    Contact the seller
                </button>
                <div class="mt-4">
                    <h6>Category: <span class="badge bg-warning text-dark"><a href="/category/{{ post.category_slug }}">{{ post.category }}</a></span></h6>
                </div>
                <div class="d-flex justify-content-start mt-4">
                    {% for tag in tags %}
                        <a class="btn btn-outline-success btn-sm me-1" href="/tag/{{ tag.title }}" role="button">{{ tag.title }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% else %}
        <div class="mt-5">
            <h4>Not found any posts..</h4>
        </div>
    {% endif %}

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Contacts</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {{ post.author_name }}: {{ post.contact }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


{% endblock %}